DATABASE_DRIVER=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/film
DATABASE_NAME=film
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
NODE_ENV=development
PORT=3000
LOG_FORMAT=dev